name: Deploy to Vercel

on:
  push:
    branches:
      - main  # default branch as a deploy branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Deploy to Vercel
        env:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          # VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}   # optional
          # VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}           # optional
        run: vercel --prod 
